<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>AdvertisementServlet</servlet-name>
        <servlet-class>org.example.servlets.AdvertisementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdvertisementServlet</servlet-name>
        <url-pattern>/searchAd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BulletinBoardServlet</servlet-name>
        <servlet-class>org.example.servlets.BulletinBoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BulletinBoardServlet</servlet-name>
        <url-pattern>/bulletinBoard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>org.example.servlets.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>org.example.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/editAd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditAdServlet</servlet-name>
        <servlet-class>org.example.servlets.EditAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAdServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IntroServlet</servlet-name>
        <servlet-class>org.example.servlets.IntroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntroServlet</servlet-name>
        <url-pattern>/intro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedbackAddServlet</servlet-name>
        <servlet-class>org.example.servlets.FeedbackAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackAddServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedbackShowServlet</servlet-name>
        <servlet-class>org.example.servlets.FeedbackShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackShowServlet</servlet-name>
        <url-pattern>/findReviews</url-pattern>
    </servlet-mapping>
</web-app>